# ESP32 build output
esp32-cam/build/

# Python
.venv/
__pycache__/
*.pyc

# VS Code and IDE
.vscode/
.idea/
.devcontainer/

# Build and cache folders
build/
dist/
.cache/
.pytest_cache/

# OS files
Thumbs.db
.DS_Store

# Image files
registered_students/
attendance_records/