# ESP32 build output
camera/build/
camera/managed_components/
camera/components/
camera/dependencies.lock
camera/sdkconfig
camera/sdkconfig.old

# Python
.venv/
__pycache__/
*.pyc

# VS Code and IDE
.vscode/
.idea/
.devcontainer/

# Build and cache folders
build/
dist/
.cache/
.pytest_cache/

# OS files
Thumbs.db
.DS_Store

# Image files
registered_students/
attendance_records/